@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;700&display=swap');

:root{
    --cor-de-fundo: #1e1e1e;
    --verde: #6fff5f;
    --branco: #FFFFFF;
    --botao-ativo: #3a37e3;
    --botao-inativo: rgba(58, 55, 94, 0.5);
    --texto-fundo:rgba(58, 55, 94, 0.3);
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--branco);
    font-family: 'Chrakra Pecht', sans-serif;
}


.conteudo-principal{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.titulo-principal{
    text-align: left;
    width: 100%;
    font-size: 32px;
}

.titul0-principal span{
    color: var(--verde);
}

.botao{
    font-family: "Crakra Petch", sans-serif;
    background-color: var(--botao-inativo);
    color: var(--branco);
    display: flex;
    justify-content: center;
    padding: 1em;
    font-size: 18px;
    align-items: center;
    width: 100%;
}